<h2>Search Chatbot Document</h2>
<form action="/chatbotDocuments" method="GET">
    <div>
        <label>Title</label>
        <input type="text" name="title" value="<%= searchOptions.title %>">
    </div>


    <button type="submit">Search</button>
</form>

<% chatbotDocuments.forEach(chatbotDocuments=> { %>
    <div style="background:blanchedalmond ">
        <h3>
            <%= chatbotDocuments.title %>
        </h3>
        <p>
            <%= chatbotDocuments.description %>
        </p>

        <img width="200" height="200" src="<%= chatbotDocuments.coverImagePath %>">



        <p>
            <%= chatbotDocuments.uploadAt %>
        </p>
    </div>
    <% }) %>