<h2>Search Users</h2>
<form action="/receivedUsers" method="GET">
    <label>Name</label>
    <input type="text" name="name" value="<%= searchOptions.name %>">
    <button type="submit">Search</button>
</form>
<br>
<% receivedUsers.forEach(receivedUsers=> { %>
    <div>

        <p>
            <%= receivedUsers.name %>
        </p>

        <p>
            <%= receivedUsers.email %>
        </p>

        <%= receivedUsers.receivetime %>
            <%- include('../partials/deleteForm', { url: `/receivedUsers/${receivedUsers.id}` }) %>
    </div>
    <% }) %>